<Ui>
<Frame name="AddonConfig" parent="UIParent" inherits="BasicFrameTemplate" hidden="true">
  <Size x="234" y="300"/>
  <Anchors>
    <Anchor point="CENTER"/>
  </Anchors>
  <Scripts>
  </Scripts>
  <Frames>
    <Button name="$parentButton" inherits="UIPanelButtonTemplate" text="Click me!">
      <Size x="100" y="20"/>
      <Anchors>
        <Anchor point="CENTER"/>
      </Anchors>
    </Button>
  </Frames>
</Frame>
</Ui>